
<div class="container">

    <div class="row title text-center">
        <!-- Header of the webpage -->
        <div class="col-lg-8">
             <h1>Eat Da Burger</h1>
        </div>
         <!--Add new burger-->
        <div class="col-lg-4 add-burger">
            <form class="form-inline create-form" action="/" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" id="burger-name" name="burgerName" placeholder="Burger name">
                </div>
                <button type="submit" class="btn btn-success">Add burger</button>
            </form>
        </div>
    </div>

    <!--Burger list-->
    <div class="row burger-list">
        <div class="col-lg-4 col-lg-offset-1">
            <h4>Burgers list</h4>
            <div>
                <table class="table table-hover">
                    {{#each burgers}}
                        {{#unless this.devoured}}
                            <tr>
                                <td>{{this.id}}.</td>
                                <td>{{this.burger_name}}</td>
                                <td>
                                    <form action="/{{this.id}}?_method=PUT" method="POST">
                                        <input type="hidden" name="devoured" value="true">
                                        <button type="submit" class="btn btn-xs btn-danger">Devour it !</button>
                                    </form>
                                </td>
                            </tr>
                        {{/unless}}
                    {{/each}}
                </table>
            </div>
        </div>
        <div class="col-lg-2 hidden-md hidden-sm hidden-xs text-center">
            <img class="burger-img" src="/assets/img/burger stack.png">
        </div>
        <div class="col-lg-4">
            <h4>Burgers Devoured</h4>
            <div>
                <table class="table table-hover">
                    {{#each burgers}}
                        {{#if this.devoured}}
                            <tr>
                                <td>{{this.id}}.</td>
                                <td>{{this.burger_name}}</td>
                            </tr>
                        {{/if}}
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
</div>
